---
layout: base-final.swig
---

<div class="w3-large"></div>

<div id="what-is" class="w3-light-gray w3-row-padding w3-padding-64 w3-container">

  <h1>کمپین ها</h1>

  <p>
    کمپین ها برنامه های عملی ما برای فراگیر کردن و بهره برداری از داده های عمومی است.
    هر کمپین یک هدف خاص دارد و مربوط به زمینه ای خاص است و اگر شما به آن زمینه علاقه مندید
    یا توانایی خاصی در آن حوزه دارید می توانید به اجرای آن کمک کنید.
  </p>
  <p>
    اگر ایده خاصی دارید که به نظرتان می تواند شروع یک کمپین باشد
    <a href="/about#contact">با ما تماس بگیرید</a>
  </p>
  <div style="display: table-row">
    <div style="display: table-cell; width:49%;">
      <div class="w3-margin w3-white w3-padding">
        <span class="w3-xxlarge">تکثیر</span>
        <p>
          داده های انحصاری که تحت حمایت قدرت های بزرگ هستند و سرمایه زیادی در اختیار
          دارند در زمینه تبلیغات موفق تر هستند. به همین دلیل است که درصد
          بیشتری از مردم از داده های انحصاری استفاده می کنند در حالی که داده های عمومی
          وجود دارند که ارزان تر، ایمن تر و با کیفیت بهتر هستند.
        </p>
        <p>
          اما این به معنای شکست و پایان کار نیست. هزینه تبلیغ برای انحصار کننده ای
          زیاد است که تمام هزینه ها را می خواهد خودش تامین کند. اما داده های عمومی متعلق
          به جامعه اند و اگر هزینه تبلیغ میان جامعه پخش شود به هر عضو مقدار ناچیزی
          می رسد. این کمپین از همین موضوع استفاده کرده و از شما دعوت می کند تا
          دو نفر را با جمعیت داده های عمومی آشنا کنید.
          <a href="virus">بیشتر...</a>
        </p>

      </div>
    </div>
    <div style="display: table-cell; width:49%;">
      <div class="w3-margin w3-white w3-padding">
        <span class="w3-xxlarge">آموزش برای همه</span>
        <p>
          امروزه آموزش کشور ما اسیر مافیاهای قدرت مندی شده است که به دانش آموز و خانواده اش
          هزینه های مالی و معنوی جبران ناپذیری وارد می کنند و آینده جامعه را خراب می کنند.
          همچنین این مساله باعث می شود تا شکاف طبقاتی رخ دهد. افرادی که اوضاع مالی
          بهتری دارند آموزش قوی تری در اختیار فرزندانشان قرار می گیرد و آن ها نیز
          وضع مالی بهتری پیدا می کنند و این چرخه ادامه پیدا می کند. راه حل
          این مشکل، آموزش با داده های عمومی است. داده هایی که رایگان و در دسترس همه اند.
          <a href="learning">بیشتر...</a>
        </p>
      </div>
    </div>
  </div>
  <div style="display: table-row">
    <div style="display: table-cell; width:49%;">
      <div class="w3-margin w3-white w3-padding">
        <span class="w3-xxlarge">چه می خوریم?</span>
        <p>
          این کمپین از رستوران دارها دعوت می کند تا داده های رستوران خود اعم از
          دستور پخت غذاها، داده های مالی و ... را به صورت عمومی منتشر کنند.
          این شفافیت حق مشتری است. مشتری باید بداند که چه می خورد.
          جمعیت داده های عمومی از رستوران هایی که این حق مشتری را رعایت می کنند حمایت
          می کند و آن ها می توانند تحت یک برند غیرمتمرکز با رستوران های زنجیره ای انحصاری
          مقابله کنند.
          <a href="restaurant">بیشتر...</a>
        </p>
      </div>
    </div>
    <div style="display: table-cell; width:49%;">
      <div class="w3-margin w3-white w3-padding">
        <span class="w3-xxlarge">نرم افزار های عمومی</span>
        <p>
          حوزه نرم افزار یکی از قدیمی ترین حوزه هایی است که داده های عمومی در آن رواج
          پیدا کرده و نرم افزار های عمومی موجود کفاف عمده نیاز های ما را می دهد.
          این کمپین از شما دعوت می‌کند تا فقط از نرم افزار هایی استفاده کنید که کد
          منبع آنها به صورت داده عمومی باشد.
          <a href="public-software">بیشتر...</a>
        </p>
      </div>
    </div>
  </div>
  <div style="display: table-row">
    <div style="display: table-cell; width:49%;">
      <div class="w3-margin w3-white w3-padding">
        <span class="w3-xxlarge">چنگال بزن</span>
        <p>
          چنگال زدن یا فورک کردن، یک اصطلاح در سامانه های مدیریت پروژه است
          و به معنی منشعب کردن یک پروژه و ایجاد نسخه ای متفاوت از آن است.
          از چنگال زدن علاوه بر ایجاد نسخه های سفارشی از یک پروژه، برای مشارکت
          در آن و ارائه تغییرات نیز استفاده می شود. این کمپین از همه، به ویژه
          نویسندگان، خوانندگان و فیلم سازان دعوت می‌کند که داده هایی که می سازند
          را برای عموم منتشر کنند و سپس دیگران را دعوت به چنگال زدن به اثر خود
          کنند. به این ترتیب از یک اثر صد ها نسخه با تفاوت های جزیی ساخته می شود
          و می توان از خود این انشعاب ها اثر را بهبود بخشید یا داده های جدیدی خلق کرد 
          <a href="fork-me">بیشتر...</a>
        </p>
      </div>
    </div>
  </div>
</div>