---
layout: base-final.swig
title: درباره ما
---


<div class="w3-large"></div>

<div id="about" class="w3-row-padding w3-padding-64 w3-container">

  <h1>درباره ما</h1>
  <p>
    جمعیت داده های عمومی یک گروه غیر انتفاعی است که ماموریت آن مبارزه با انحصار داده
    و فراگیر کردن داده های عمومی است.
  </p>

</div>

<div id="about" class="w3-row-padding w3-light-grey w3-padding-64 w3-container">

  <h1>پروژه ها</h1>
  <ul>
    <li><a href="/projects/index-wiki">فهرست داده های عمومی</a></li>
    <li><a href="/projects/alternative-finder">جایگزین یاب</a></li>
    <li><a href="/projects/fund-platform">سکوی تامین مالی</a></li>
  </ul>

</div>

<div id="attribute" class="w3-row-padding w3-padding-64 w3-container">
  <h1>ما را یاد کنید</h1>
  <p>
    یاد کردن و ارجاع، یکی از مهم ترین روش های تبلیغ داده های عمومی و افراد و بنیاد های
    مرتبط با آن هاست. برای درک بیشتر اهمیت این موضوع،
    <a href="/articles/osm-success">داستان موفقیت اوپن استریت مپ</a>
    و
    <a href="/articles/attribution-pros-and-cons">ارجاع، یک تیغ دو لبه</a>
    را بخوانید.
  </p>
  <p>
    جمعیت داده های عمومی از شما تقاضا دارد که در داده های عمومی که تولید می‌کنید
    با ذکر "این داده یک داده عمومی است" از ما یاد کنید. هر چه افراد بیشتری با
    جمعیت داده های عمومی آشنا شوند سرعت رشد داده های عمومی زیاد می شود و داده های
    انحصاری زودتر شکست می خورند.
  </p>
  <h3>محتوای دیجیتال</h3>
  <p>
    در قسمتی که به تولید تولید کننده ارجاع می دهید
    (مثلا قسمت درباره ما یا قسمت مشارکت کنندگان)
    می توانید با قرار دادن لوگو، ذکر جمله "این داده/نرم افزار/محتوا عمومی است" و
    قرار دادن یک پیوند به سایت، جمعیت داده های عمومی را معرفی کنید.
  </p>
  <h3>فیلم، انیمیشن و امثال آن</h3>
  <p>
    برای ارجاع به ما درون یک داده تصویری مانند فیلم می توانید قطعه کوچک زیر را
    در ابتدای اثر خود قرار داده و به صورت بصری نشان دهید که این اثر یک داده عمومی
    است و به کمک داده های عمومی دیگر، جهان را پر از عدالت و برابری می کند.
    این قطعه فیلم در حساب
    <a href="//index.pdcommunity.ir/wiki/پیر تیوب">پیر تیوب</a>
    ما به نشانی
    <a href="https://www.open.tube/accounts/pdcommunity@open.tube/video-channels">
      pdcommunity@open.tube
    </a>
    وجود دارد.
    <a href="https://www.open.tube/videos/watch/f29b7fd4-4ebd-4264-b6cb-4c54417f487e">لینک فیلم</a>
  </p>
  <h3>کتاب، مجله و آثار چاپی</h3>
  <p>
    تصویری از لوگو در پشت جلد، یا به صورت کوچک در روی جلد، جمله این اثر عمومی است،
    و آدرس سایت می تواند مفید باشد. هم چنین می توانید  پیوند اثرتان در
    <a href="//index.pdcommunity.ir">فهرست داده های عمومی</a>
    را به وسیله کیو آر کد چاپ کنید.
  </p>
</div>

<div id="contact" class="w3-row-padding w3-light-grey w3-padding-64 w3-container">

  <h1>تماس با ما</h1>
  <ul>
    <li>ایمیل: <a href="mailto:info@pdcommunity.ir">info@pdcommunity.ir</a></li>
    <li>
      ماتریس:
      <ul>
        <li>
          گروه عمومی:
          <a href="https://matrix.to/#/#pdcommunity_room:matrix.org">
            #pdcommunity_room:matrix.org
          </a>
        </li>
      </ul>
    </li>
    <li>پیر تیوب: 
      <a href="https://www.open.tube/accounts/pdcommunity@open.tube/video-channels">
        pdcommunity@open.tube
      </a>
    </li>
  </ul>

</div>
<div id="about" class="w3-row-padding w3-padding-64 w3-container">

  <h1>نیاز های ما</h1>
  <ul>
    <li>مدیر برای شبکه های اجتماعی (برای اطلاعات بیشتر و اعلام داوطلبی ایمیل بزنید)</li>
  </ul>

</div>
<div id="sisters" class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <h1>گروه های خواهر</h1>
  <div class="w3-gray w3-row-padding w3-container">
    <h3>حوزه نرم افزار</h3>
    <div class="w3-half">
      <div class="w3-margin w3-white w3-padding">
        <img style="height: 64px" src="https://www.gnu.org/graphics/fsf-logo-notext-small.png"></img>
        <span class="w3-xxlarge">بنیاد نرم افزارهای آزاد</span>
        <p>
          این بنیاد یکی از قدیمی ترین گروه ها در زمینه تولید داده های عمومی است.
          پروژه گنو که زیر نظر این بنیاد است، استفاده از کامپیوتر بدون
          داده های انحصاری را ممکن کرده است. تمرکز این بنیاد بر روی امنیت
          کاربران و حریم خصوصی است که با استفاده از داده های انحصاری از بین
          می روند.
        </p>
        <a href = "https://fsf.org">سایت</a>
        -
        <a href = "https://fa.wikipedia.org/wiki/بنیاد نرم افزار آزاد">ویکی پدیا</a>
      </div>
    </div>
    <div class="w3-half">
      <div class="w3-margin w3-white w3-padding">
        <img style="height: 64px" src="https://opensource.org/files/osi_keyhole_300X300_90ppi_0.png"></img>
        <span class="w3-xxlarge">پیشگامان متن باز</span>
        <p>
          این بنیاد در تلاش است تا نرم افزار های عمومی
          را با برند نرم افزار متن باز گسترش دهد و از
          جمعیت های توسعه آن حمایت و حفاظت کند. این گروه
          از طریق این که نرم افزارهای عمومی با کیفیت تر و توسعه آن ها ساده تر است
          افراد و شرکت ها را به استفاده و توسعه آن ها تشویق می کند.
        </p>
        <a href = "https://opensource.org">سایت</a>
        -
        <a href = "https://fa.wikipedia.org/wiki/پیشگامان متن باز">ویکی پدیا</a>
      </div>
    </div>

    <div class="w3-half">
      <div class="w3-margin w3-white w3-padding">
        <img style="height: 64px" src="https://foundation.mozilla.org/_images/mozilla-on-black.svg"></img>
        <span class="w3-xxlarge">موزیلا</span>
        <p>
          این بنیاد که سازنده مرورگر معروف فایرفاکس
          (که یک نرم افزار عمومی است)
          است با استفاده از داده های عمومی در تلاش است تا اینترنت سالم و در اختیار همه
          باشد. از فعالیت های اخیر این بنیاد می توان به جمع آوری صدا برای استفاده
          در نرم افزارهای پردازش صوت عمومی اشاره کرد.
        </p>
        <a href = "https://mozilla.org">سایت</a>
        -
        <a href = "https://fa.wikipedia.org/wiki/بنیاد موزیلا">ویکی پدیا</a>
      </div>
    </div>
  </div>
  <br>
  <div class="w3-gray w3-container w3-row-padding">
    <h3>حوزه هنر</h3>
    <div class="w3-half">
      <div class="w3-margin w3-white w3-padding">
        <img style="height: 64px" src="https://upload.wikimedia.org/wikipedia/commons/0/0c/Blender_logo_no_text.svg"></img>
        <span class="w3-xxlarge">بلندر</span>
        <p>
          این موسسه هلندی سازنده نرم افزار بلندر است. بلندر یک نرم افزار برای تولید
          محتوای گرافیکی سه بعدی است. این موسسه به کمک نرم افزار های متن باز و عمومی
          چند انیمیشن و فیلم کوتاه تولید کرده است که داده های مربوط به تولید آن ها نیز
          تماما عمومی است و علاوه بر این که قدرت داده های عمومی را ثابت می کند، می تواند
          منبع خوبی برای یادگیری باشد.
        </p>
        <a href = "https://blender.org/">سایت</a>
        -
        <a href = "https://fa.wikipedia.org/wiki/بلندر">ویکی پدیا</a>
      </div>
    </div>
  </div>
  <br>
  <div class="w3-gray w3-container w3-row-padding">
    <h3>عمومی</h3>
    <div class="w3-half">
      <div class="w3-margin w3-white w3-padding">
        <img style="height: 64px" src="https://foundation.mozilla.org/_images/mozilla-on-black.svg"></img>
        <span class="w3-xxlarge">بنیاد همتابه همتا</span>
        <p>

        </p>
        <a href = "https://p2pfoundation.net/">سایت</a>
        -
        <a href = "https://fa.wikipedia.org/wiki/بنیاد_همتابه همتا">ویکی پدیا</a>
      </div>
    </div>
    <div class="w3-half">
      <div class="w3-margin w3-white w3-padding">
        <img style="height: 64px" src="https://foundation.mozilla.org/_images/mozilla-on-black.svg"></img>
        <span class="w3-xxlarge">بنیاد دانش آزاد</span>
        <p>
          هدف این بنیاد ترویج دانش عمومی در ایران است.
        </p>
        <a href = "https://lfkf.org/">سایت</a>
      </div>
    </div>
  </div>
</div>