{% extends "base.swig" %}

{% block content %}

<div class="w3-large"></div>

<div id="what-is" class="w3-row-padding w3-padding-64 w3-container">
<h1>
<img src="/images/license/{{code}}.png" style="width:20vh">
{{ title }}
</h1>
{{ contents | safe }}
</div>

{% endblock %}