---
layout: base-final.swig
---
<style>
  .w3-top > .w3-red {
    transition: all 0.5s ease;
  }
  .black-nav.w3-top > .w3-red {
    background-color: #000 !important;
    color: #f44336 !important;
  }
</style>
<!-- Header -->
<header class="w3-container w3-center" style="padding:48px 16px; color: #f44336; background-color: black">
  <img style="width: 100%; max-height: 50vh" src="/images/main-background.svg">
  <h1 class="w3-jumbo">Public data</h1>
  <p class="w3-xlarge">
    <span id="typed-subtitle"></span>
    for everyone</p>
  <a href="#what-is" class="w3-button w3-red w3-padding-large w3-large w3-margin-top">How?</a>
</header>

<!-- First Grid -->
<div id="what-is" class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-copy w3-padding-64 w3-text-red w3-margin-right" style="font-size: 200px"></i>
    </div>

    <div class="w3-twothird">
      <h1>What is public data?</h1>

      <p class="w3-text-grey">
        هر چیزی که بتوان به صورت ۰ و ۱ ذخیره کرد، کپی کرد و انتقال داد یک داده است.
        هر داده ای که مالکیت آن در اختیار عموم جامعه باشد و همه بتوانند از آن به هر
        طریقی استفاده کنند، یک داده عمومی است. برای مثال فیلم، مقاله علمی، نرم افزار متن باز
        یا دستور پخت یک غذا یک داده عمومی است، به شرط آن که همه بتوانند آن را از اینترنت
        دریافت کرده و به هر طریقی از آن استفاده کنند.
        <br>
        به طور عکس کتابی که حق نشر آن محفوظ است، نرم افزاری که منبع آن مخدوش شده تا
        نتوان طرز کار آن را فهمید یا تغییر داد یا طرح ساخت یک رآکتور هسته ای که در
        اختیار چند کشور خاص است، داده های عمومی نیستند و داده های انحصاری یا اختصاصی محسوب
        می شوند.
      </p>
      <a href="#problem" class="w3-button w3-red w3-padding-large w3-large w3-margin-top">What good is it?</a>
    </div>
  </div>
</div>

<div id="problem" class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Savior of the world</h1>
      <p class="w3-text-grey">
        داده های انحصاری ریشه بخش عمده ای از مشکلات جهان امروز 
        (مانند فقر، اختلاف طبقاتی و ...) 
        هستند. عمده پولی که شما خرج می کنید هزینه نادانی شماست.
        (یعنی شما پول داده ای که از شما پنهان شده است و نمی دانید را می دهید)
        با داده های عمومی، جامعه قدرت می گیرد، هزینه ها کاهش می یابد، چرخ دوباره اختراع نمی شود و
        پیشرفت سریع می شود. اما با داده های انحصاری انحصار کننده قدرت می گیرد، به کمک
        این قدرت داده های انحصاری بیشتری تولید می کند و این چرخه باطل آنقدر ادامه پیدا
        می کند تا انحصار کننده به یک توده سرطانی غیر قابل مهار شدن تبدیل شود.
        <br>
        <a href="/articles/proprietary-problems" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">
          Read more
        </a>
        <a href="#take-action" class="w3-button w3-red w3-padding-large w3-large w3-margin-top">
          Go to war with proprietary data  
        </a>
        
      </p>
    </div>

    <div class="w3-third w3-center">
      <span class="w3-padding-64 w3-text-red" style="font-size: 200px">🌍</span>
    </div>
  </div>
</div>
  
<div id="take-action" class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <h1 class="w3-center">Take action</h1>
    <div class="w3-row-padding w3-center" style="margin-top:64px">
      <div class="w3-third">
        <i class="fa fa-users w3-margin-bottom w3-jumbo w3-center"></i>
        <p class="w3-large">inform others</p>
        <p>
          متاسفانه در دنیای امروز رسانه ها و تریبون ها در اختیار سرمایه داران بزرگ
          است و صدای افراد کوچک و سازمان های مستقل به سختی شنیده می شود.
          سرمایه دارانی که می خواهند تا تنها قدرت در صحنه باشند و با هزینه های هنگفت
          رقبای خود را از بین می برند، هرگز داده های خود را در اختیار عموم قرار نخواهند داد
          و در نتیجه تنها صدایی که شنیده می شود، صدای داده های انحصاری است.
          این ماموریت ماست که این بازی را به هم بزنیم و یکدیگر را با داده های عمومی
          آشنا کنیم.
          <a href="articles/advertise-public-data" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">
            Our mission
          </a>
        </p>
      </div>
      <div class="w3-third">
        <i class="fa fa-ban w3-margin-bottom w3-jumbo"></i>
        <p class="w3-large">Don't make proprietary data</p>
        <p>
          انحصار کردن داده، ظلم به جامعه است و شما نباید در این ظلم شریک باشید.
          ممکن است بنا به شغلتان مجبور باشید که داده های انحصاری تولید کنید و از این راه
          درآمد کسب کنید. اما در اکثر مواقع به راحتی می توانید از این وضعیت خارج
          شوید. <br>
          <a href="articles/prevent-make-proprietary" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">
            چگونه؟ 
          </a>
        </p>
      </div>
      <div class="w3-third">
        <i class="fa fa-unlock w3-margin-bottom w3-jumbo"></i>
        <p class="w3-large">Use public data only</p>
        <p>
          استفاده از داده های انحصاری کمک به انحصار کننده است و اگر همه از داده های عمومی
          استفاده کنند دیگر کسی داده اش را انحصار نمی کند. هم اکنون انبوهی از داده ها در 
          اختیار جامعه است که با آن می توانید نیاز خود به داده های انحصاری را تا ۷۰ درصد
          کاهش دهید و در بعضی زمینه ها حتی از آن ها بی نیاز شوید.
          <br>
          <a href="//index.pdcommunity.ir/" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">
            Discover
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
  
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script>
var typed = new Typed('#typed-subtitle', {
  strings: ['Development', 'Power', 'Science', 'Technology'],
  typeSpeed: 30,
  backDelay: 2000,
  loop: true,
});
const nb = document.querySelector('.w3-top');
new IntersectionObserver((e)=>{
  if (e[0].isIntersecting) {
    nb.classList.add('black-nav');
  } else {
    nb.classList.remove('black-nav');  
  }
}, {
  threshold: 0.1,
}).observe(document.querySelector('header'));
</script>
